@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-text-white: #FFFFFF;
  --color-text-black: #000000;
  --color-text-unselected: #9CA3AF;

  --color-border-primary: #E6E9EC;
  --color-border-secondary: #7A40F2;
  --color-border-divider: #B3B3B3;

  --color-background-primary: #3B3A48;
  --color-background-secondary: #7A40F2;
  --color-background-tertiary: #9747FF33;
  --color-background-card: #E6E9EC;

  --color-desktop-background: #F1F4F6;
  --color-mobile-background: #F8FBFD;


  background: var(--color-desktop-background);
  @media (max-width: 768px) {
    background: var(--color-mobile-background);
  }

  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 16px;
  color: var(--color-text-black);
}

html, body {
  height: 100%;
  margin: 0;
}

@layer components {
  .button {
    @apply flex items-center justify-center rounded-[10px] font-bold gap-3;
  }

  .button-primary {
    @apply bg-primary text-white;
  }

  .button-secondary {
    @apply bg-secondary text-white;
  }

  .button-tertiary {
    @apply border border-primary text-primary;
  }

  .button-disabled {
    @apply bg-gray-300 text-gray-500 pointer-events-none;
  }

  .button-large {
    @apply text-m px-6 py-14;
  }

  .button-medium {
    @apply text-s px-5 py-3;
  }

  .button-small {
    @apply text-s p-[18px];
  }

  .button-xSmall {
    @apply text-s px-3 py-1;
  }

  .icon-container {
    @apply flex items-center justify-center;

    &.small {
      @apply w-6 h-6;
    }

    &.medium {
      @apply w-8 h-8;
    }

    &.large {
      @apply w-10 h-10;
    }
  }
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.overlay-content {
  position: absolute;
  padding-top: 55px;
  padding-bottom: 20px;
  top: 0;
  z-index: 1001;
  animation: slide-bottom 0.5s ease-out;
  @apply bg-secondary text-white rounded-b-[10px] w-full;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
